* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  height: 100vh;
  border: 20px solid rgb(161, 91, 231);
  display: flex; /*блоки стають горизонтально*/
  /*flex-direction: column; */ /*блоки стають в колонку*/
  justify-content: center; /*блоки стають по середині по горизонталі якщо до того були горизонтально розміщені, а якщо в колонці, то тоді по вертикалі стають в центрі*/
  /*justify-content: flex-end;*/ /*блоки зміщуюються в кінець а якщо flex-start то притискаються до початку */
  /* justify-content: space-between; між блоками появиться відстань */
  /*justify-content: space-around;*/ /*між блоками буде відстань і також від країв(стінок) зліва і справа , але відстань між блоками і від країв різна*/
  /*justify-content: space-evenly;*/ /*таке сам як space-around, але відстань між блоками і від країв однакова*/
  /*align-items: center;*/ /*центрування по вертикалі*/
  /*align-items: flex-end;*/ /*таке ж як justify-content тільки по вертикалі*/
  flex-wrap: wrap; /*якщо ми будемо змінювати розмір браузерного вікна, то в нас блок буде перескакувати на іншу лінію і між блок який перескакнув і тим що є я на своєму початковому місці буде відстань, щоб забрати цю відстань треба зробити align-content: flex-start;*/
}

/* .child1 {
  width: 200px;
  height: 200px;
  background: rgb(192, 166, 218);
}

.child2 {
  width: 200px;
  height: 200px;
  background: rgb(223, 104, 207);
}

.child3 {
  width: 200px;
  height: 200px;
  background: rgb(113, 142, 240);
} */

/*зміна позицій блоків без html*/
/*блок перший поміняється місцями з блоком другим завдяки order*/
/*чим більше число в order дим дальше стоїть блок*/
/* .child1 {
  width: 200px;
  height: 200px;
  background: rgb(192, 166, 218);
  order: 1;
}

.child2 {
  width: 200px;
  height: 200px;
  background: rgb(223, 104, 207);
  order: 0;
}

.child3 {
  width: 200px;
  height: 200px;
  background: rgb(113, 142, 240);
} */

/*зміна розмірів блоків*/
/* всі блоки будуть одного розміру і розтянуться вздовж екрану якщо задати усім flex-grow:1;*/
/* якщо хочу, щоб якісь блок був в двічі більшим, то задаю flex-grow:2; а іншому flex-grow:1; */
/* .child1 {
  width: 200px;
  height: 200px;
  background: rgb(192, 166, 218);
  flex-grow: 1;
}

.child2 {
  width: 200px;
  height: 200px;
  background: rgb(223, 104, 207);
  flex-grow: 1;
}

.child3 {
  width: 200px;
  height: 200px;
  background: rgb(113, 142, 240);
  flex-grow: 1;
} */

/*flex-basis:200px; якщо я хочу, щоб блоки були одинакового розміру*/
 .child1 {
  
  height: 200px;
  background: rgb(192, 166, 218);
  flex-grow: 1;
  /* flex-basis: 200px; */
}

.child2 {
  
  height: 200px;
  background: rgb(223, 104, 207);
  flex-grow: 2;
  /* flex-basis: 200px; */
}

.child3 {

  height: 200px;
  background: rgb(113, 142, 240);
  /* flex-grow: 1; */
  /* flex-basis: 200px; */
} 

/*flex: combine flex-grow flex-shrink flex-basis */
 /* .child1 {
  
  height: 200px;
  background: rgb(192, 166, 218);
  flex: 1 1 300px;
}

.child2 {
  
  height: 200px;
  background: rgb(223, 104, 207);
  flex: 1 1 300px;
  /*align-self: center;*/ /*блок стане по середині*/
}

.child3 {
  
  height: 200px;
  background: rgb(113, 142, 240);
  flex: 1 1 300px;
}  */
